@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* >>>>>>>>>>>>> HEADER <<<<<<<<<<<<<*/
#header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

/*>>> HEADER OF HEADER XD <<<*/
.header-header-xd {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

.navigation li {
    font-size: 18px;
    color: #e5e7eb;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}



.header-main {
    display: flex;
    margin-top: 100px;
}

.header-main-left {

}

.header-main-image {
    background-color: gray;
    height: 250px;
    width: 750px;
}


.header-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-button {
    background-color: #3882f6;
    padding: 5px;
    color: #F9FAF8;
}

#info {
    background-color: white;
}

#quote-mersuti {
    background-color: #e5e7eb;
}

#call-to-action {
    background-color: white;
}

#footer {
    background-color: #1f2937;
}